.breadcrumbs {
    margin: 1rem 0;
    font-size: 0.9rem;
    color: #555;
  }
  
  .breadcrumbs ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
  }
  
  .breadcrumbs li {
    display: flex;
    align-items: center;
  }
  
  .breadcrumbs li a {
    text-decoration: none;
    color: #007bff;
  }
  
  .breadcrumbs li a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs li span {
    color: #c40909;
    font-size: large;
  }
  
  .breadcrumbs li::after {
    content: ">";
    margin-left: 0.5rem;
    color: #aaa;
  }
  
  .breadcrumbs li:last-child::after {
    content: "";
  }