body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li button{
  padding: 5px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

nav ul li button:hover {
  background-color: #b60303;
}

.breadcrumbs ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.breadcrumbs li span {
  color: #e10505;
  font-size: large;
}

.breadcrumbs li::after {
  content: ">";
  margin-left: 0.5rem;
  color: #aaa;
}

.breadcrumbs li:last-child::after {
  content: "";
}

